.smoke-container {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 4px;
    z-index: 1;
    padding: 0 20px;
    top: 0;
}

.smoke-container span {
    position: relative;
    bottom: 20px;
    display: block;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    filter: blur(3px);
    animation: smokeFly 5s linear calc(var(--fly-delay-index) * -0.5s) infinite;
    opacity: 0;
}

@keyframes smokeFly {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    50% {
        transform: translateY(-75px) scaleX(5);
    }

    95% {
        opacity: 0;
    }
    
    100% {
        transform: translateY(-150px) scaleX(10);
    }
}